[submodule "src/third_party/FLAP"]
  path = src/third_party/FLAP
  url = https://github.com/szaghi/FLAP
  branch = master
[submodule "src/third_party/pyplot-fortran"]
  path = src/third_party/pyplot-fortran
  url = https://github.com/jacobwilliams/pyplot-fortran
  branch = master
[submodule "src/third_party/PENF"]
  path = src/third_party/PENF
  url = https://github.com/szaghi/PENF
  branch = master
[submodule "src/third_party/WenOOF"]
  path = src/third_party/WenOOF
  url = https://github.com/Fortran-FOSS-Programmers/WenOOF
  branch = master
[submodule "src/third_party/FACE"]
  path = src/third_party/FACE
  url = https://github.com/szaghi/FACE
  branch = master
