[submodule "src/third_party/FLAP"]
	path = src/third_party/FLAP
	url = https://github.com/szaghi/FLAP
[submodule "src/third_party/pyplot-fortran"]
	path = src/third_party/pyplot-fortran
	url = https://github.com/jacobwilliams/pyplot-fortran
[submodule "src/third_party/PENF"]
	path = src/third_party/PENF
	url = https://github.com/szaghi/PENF
[submodule "src/third_party/WenOOF"]
	path = src/third_party/WenOOF
	url = https://github.com/Fortran-FOSS-Programmers/WenOOF
