[submodule "src/third_party/FLAP"]
	path = src/third_party/FLAP
	url = https://github.com/szaghi/FLAP
[submodule "src/third_party/IR_Precision"]
	path = src/third_party/IR_Precision
	url = https://github.com/szaghi/IR_Precision
[submodule "src/third_party/pyplot-fortran"]
	path = src/third_party/pyplot-fortran
	url = https://github.com/jacobwilliams/pyplot-fortran
